@import "variables.scss";

//Common

@import "partials/common/font.scss";
@import "partials/common/header.scss";
@import "partials/common/footer.scss";

// Main CSS

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Jost";
}

body {
 height: 100%;
}

// Home

@import "home/home.scss";