@use "sass:map";
@import "variables.scss";

//Common

@import "partials/common/font.scss";
@import "partials/common/header.scss";
@import "partials/common/footer.scss";
@import "home/home.scss";
@import "papeterie/papeterie.scss";

// Main CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;

  body {
    color: map.get($colors, font);
    background-color: map.get($colors, neutral);
    font-family: 'Poppins Medium';

    a {
      text-decoration: none;
      color: map.get($colors, primary);
    }
    h1 {
      font-family: $font_2;
      font-style: italic;
      text-align: center;
    }
    .primary-btn {
      @include primary-btn;
    }
    .secondary-btn {
      @include secondary-btn;
    }
    .gap-0 {
      gap: 0 !important;
    }

    .flex {
      &--center {
        @include flex-box (wrap, row, center, center);
      }
      &--start {
        @include flex-box (wrap, row, center, start);
      }
      &--end {
        @include flex-box (wrap, row, center, end);
      }
      &--col-center {
        @include flex-box (wrap, column, center, center);
      }
      &--col-start {
        @include flex-box (wrap, column, center, start);
      }
      &--col-end {
        @include flex-box (wrap, column, center, end);
      }
    }
    
    .width {
      &--w-25 {
        width: 25%;
      }

      &--w-50 {
        width: 50%;
      }

      &--w-75 {
        width: 75%;
      }

      &--w-100 {
        width: 100%;
      }
    }

    .content-container {
      min-height: 80vh;
      margin: $m-margin auto;
      max-width: calc(60vw - 2rem);
    }
  }
}
