<header>
 <div class="logo-container">
  <img src="images/Logo.svg" alt="Himmelsteil Logo">
 </div>
 <div class="hamburger-container">
  <a nofollow class="hamburger" id="hamburger">
   <i class="fa-solid fa-bars"></i>
  </a>
 </div>
 <div class="nav-container animate__animated animate__slideInRight width--w-25" id="nav-container">
  <nav class="main-menu width--w-50">
   {{ range .Site.Menus.main }}
   <a href="{{ .URL }}" class="nav-link width--w-100">{{ .Name }}</a>
   {{ end }}
  </nav>
 </div>
</header>