@font-face {
  font-family: "garamond variable";
  src: url("/fonts/EBGaramond-VariableFont_wght.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Black";
  src: url("/fonts/Poppins-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Black Italic";
  src: url("/fonts/Poppins-BlackItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold Italic";
  src: url("/fonts/PoppinsBoldItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra Bold";
  src: url("/fonts/Poppins-ExtraBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra Bold Italic";
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra Light";
  src: url("/fonts/Poppins-ExtraLight.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra Light Italic";
  src: url("/fonts/Poppins-ExtraLightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Italic";
  src: url("/fonts/Poppins-Italic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Light";
  src: url("/fonts/Poppins-Light.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Light Italic";
  src: url("/fonts/Poppins-LightItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "poppins medium";
  src: url("/fonts/Poppins-Medium.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Medium Italic";
  src: url("/fonts/Poppins-MediumItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "poppins regular";
  src: url("/fonts/Poppins-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Semi Bold";
  src: url("/fonts/Poppins-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Semi Bold Italic";
  src: url("/fonts/Poppins-SemiBoldItalic.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Thin";
  src: url("/fonts/Poppins-Thin.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Thin Italic";
  src: url("/fonts/Poppins-ThinItalic.ttf");
  font-display: swap;
}
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #494b32;
  color: #a29369;
  background-color: #494b32;
  position: relative;
  padding: 0.5rem 0;
}
header .logo-container {
  width: 4rem;
  margin-left: 1rem;
}
header .hamburger {
  color: #eee8d7;
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
header .nav-container {
  display: none;
}
header .nav-container .main-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 1rem;
  background-color: #494b32;
  position: absolute;
  right: 0rem;
  top: calc(2rem + 0.5rem + 4px);
  z-index: 999;
}
header .nav-container .main-menu .nav-link {
  color: #eee8d7;
  background-color: #494b32;
  padding: 0.5rem;
  text-align: right;
}
header .nav-container .main-menu .nav-link:hover {
  background-color: #a29369;
  color: #030303;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  background-color: #494b32;
  color: #eee8d7;
  max-width: 100%;
  padding: 1rem;
}
footer .footer-left,
footer .footer-mid,
footer .footer-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  width: 20%;
}
footer .footer-left img,
footer .footer-mid img,
footer .footer-right img {
  width: 50%;
}
footer .footer-left a,
footer .footer-mid a,
footer .footer-right a {
  color: #eee8d7;
}

.home-container .hero-banner img {
  height: 500px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.home-container .welcome-text-container {
  text-align: center;
  margin: 1rem 0;
}
.home-container .welcome-text-container h1 {
  font-family: "Garamond Variable";
  font-style: italic;
}
.home-container .home-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.home-container .home-content .home-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  width: 60%;
}
.home-container .home-content .home-item a {
  width: 100%;
}
.home-container .home-content .home-item a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  opacity: 0.4;
  transition: all 0.4s ease;
}
.home-container .home-content .home-item a img:hover {
  opacity: 1;
}
.home-container .home-content .home-item a h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Garamond Variable";
  font-style: italic;
  color: #35271c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(16px + 0.09vw);
}
html body {
  color: #030303;
  font-family: "Poppins Medium";
}
html body a {
  text-decoration: none;
  color: #494b32;
}
html body .primary-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #494b32;
  color: #eee8d7;
  font-size: calc(16px + 0.09vw);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
}
html body .primary-btn:hover {
  background-color: #a29369;
  color: #35271c;
}
html body .secondary-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px #494b32 solid;
  border-radius: 0.5rem;
  font-size: calc(16px + 0.09vw);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
html body .secondary-btn:hover {
  background-color: #a29369;
  color: #35271c;
}
html body .flex--center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
html body .flex--start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
html body .flex--end {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
html body .flex--col-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
html body .flex--col-start {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
html body .flex--col-end {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
html body .width--w-25 {
  width: 25%;
}
html body .width--w-50 {
  width: 50%;
}
html body .width--w-75 {
  width: 75%;
}
html body .width--w-100 {
  width: 100%;
}
html body .content-container {
  min-height: 80vh;
  margin: 1rem auto;
  max-width: calc(60vw - 2rem);
}

/*# sourceMappingURL=bundle.css.map */
