@import url(partials/variables.scss);

//Common

@import url(partials/common/header.scss);
@import url(partials/common/footer.scss);

// Main CSS

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}