{{ define "main" }}
<div class="home-container">
  <div class="hero-banner width--w-100 flex--center">
    <img class="width--w-50" src="/images/closeup_foryou.jpg" alt="" />
  </div>
  <div class="welcome-text-container">
    {{ with .Site.GetPage "home/welcome" }}
    <div class="welcome-text">{{ .Content }}</div>
    {{ end }}
  </div>
  <div class="home-content">
    <div class="home-item">
      <a href="/papeterie">
        <img src="/images/ring_siegel.jpg" alt="" />
        <h2>PAPETERIE</h2>
      </a>
    </div>
    <div class="home-item">
      <a href="https://www.etsy.com/de/shop/HimmelsteilShop">
        <img src="/images/closeup_invitation.jpg" alt="" />
        <h2>SHOP</h2>
      </a>
    </div>
    <div class="home-item">
      <a href="/about">
        <img src="/images/about_img.jpg" alt="" />
        <h2>ÜBER MICH</h2>
      </a>
    </div>
    <div class="home-item">
      <a href="/blog">
        <img src="/images/closeup_foryou.jpg" alt="" />
        <h2>BLOG</h2>
      </a>
    </div>
  </div>
</div>
{{ end }}
